<h1>All projects:</h1>
<h3>@Model.CurrentCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (var proj in Model.AllProjects)
        {
            <div class="col-lg-4">
                <img src="@proj.Img" height="200" alt="@proj.Name" />
                <h2>Name: @proj.Name</h2>
                <p>Desc: @proj.ShortDescription</p>
                <p><a class="btn btn-warning" href="#">Description</a></p>
            </div>
        }
    }
</div>
